# Kconfig - NUCLEO-64 F411RE board configuration
#
# Copyright (c) 2016 Matthias Boesl
#
# SPDX-License-Identifier: Apache-2.0
#

if BOARD_NUCLEO_F446RE

config BOARD
	default nucleo_f446re

endif # BOARD_NUCLEO_F446RE
