# Kconfig - Atmel SAM RS485 configuration options
#
# Copyright (c) 2017 xxxxxxxxxxxxx
# SPDX-License-Identifier: Apache-2.0
#

menuconfig RS485_SAM
	bool "Atmel SAM MCU family RS485 driver"
	depends on SOC_FAMILY_SAM
	select SERIAL_HAS_DRIVER
	default n
	help
	  This option enables the USARTx driver for Atmel SAM MCUs.
